body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #344e41;
  color: #dad7cd;
  font-size: medium;
}

.hero {
  width: 100%;
  height: 50vh;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;

  background-image: url("../images/hero-img.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 0.5em;
}

.hero h2 {
  font-size: 1.5rem;
}

#navbar {
  position: fixed;
  background-color: #161a1d;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

#navbar * {
  display: inline;
}

#navbar li {
  margin: 10px;
}

#navbar li a {
  text-decoration: none;
  color: #dad7cd;
}

.resume-image {
  border-radius: 50%;
  border: solid white 3px;
}

main h2 {
  font-size: medium;
  color: #a3b18a;
}

ul {
  font-size: small;
}

p {
  font-size: small;
}
h3 {
  font-size: small;
}

main {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

section {
  margin-top: 1rem;
  margin-bottom: 1em;
}

.logo-linkedin {
  background-image: url("../images/linkedin-logo.png");
  background-size: 100px;
  width: 100px;
  height: 100px;
}

.logo-github {
  background-image: url("../images/github-logo.png");
  background-size: 100px;
  width: 100px;
  height: 100px;
}
.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  position: absolute;
  top: 20rem;
  right: 4rem;
}

footer {
  background-color: #161a1d;
  padding: 4rem;
  margin: 0;
  margin-bottom: -11rem;
}

#back-to-top > button {
  background-color: #dad7cd;
  border-radius: 50%;
  border: solid 1px #dad7cd;
  width: 50px;
  height: 50px;
}
#back-to-top:hover > button {
  border: solid 1px #dad7cd;
  background-color: white;
}
#back-to-top > button {
  text-decoration: none;
  color: #344e41;
}
#back-to-top:hover > button {
  text-decoration: none;
  color: #dad7cd;
}

#back-to-top {
  position: fixed;
  bottom: 80px;
  right: 80px;
}

form {
  border: 1px inset #344e41;
  width: 20rem;
}

#to-contact-section {
  text-align: left;
  border: #dad7cd;
}

#to-contact-section > button {
  border-radius: 20%;
  background-color: #161a1d;
  border: solid 1px #dad7cd;
  width: 7rem;
  height: 5rem;
  font-size: 1rem;
}
#to-contact-section:hover > button {
  border: solid 1px #dad7cd;
  background-color: #161a1d;
}
#to-contact-section > button {
  text-decoration: none;
  color: #344e41;
}
#to-contact-section > button {
  text-decoration: none;
  color: #dad7cd;
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) {
  body {
    font-size: larger;
  }
  .hero h1 {
    font-size: 4rem;
  }

  .hero h2 {
    font-size: 2rem;
  }
  #navbar li {
    font-size: large;
  }
  main h2 {
    font-size: 2rem;
  }

  ul {
    font-size: large;
  }

  p {
    font-size: large;
  }
  h3 {
    font-size: large;
  }
  .hero {
    height: 80vh;
  }
}

/* Media Query for Large screens */
@media (min-width: 1024px) {
  body {
    font-size: large;
  }
  .main-body {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 25rem;
    grid-template-areas: "sidebar content";
  }
  .introduction {
    grid-area: sidebar;
  }
  .content {
    border-left: 1px inset #161a1d;
    grid-area: content;
  }
  .box {
    padding: 4rem;
  }
  .hero h1 {
    font-size: 4rem;
  }

  .hero h2 {
    font-size: 2rem;
  }
  #navbar li {
    font-size: large;
  }
  main h2 {
    font-size: 2rem;
  }

  ul {
    font-size: large;
  }

  p {
    font-size: large;
  }
  h3 {
    font-size: large;
  }
  .hero {
    height: 100vh;
  }
}
