body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #344e41;
  color: #dad7cd;
}

.hero {

width: 100vw;
height: 70vh;


display: flex;
justify-content: center;
align-items: center;


text-align: center;
color: white; 


background-image: url(images/mint-green.jpg);
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
}

.hero h1 {

font-size: 5rem;
margin-bottom: 0.5em;
}

.hero h2 {
font-size: 3rem;
}


#navbar {
position: fixed;
background-color: #161a1d;
top: 0;
left: 0;
right: 0;
height: 80px;
display: flex;
flex-direction: row;
align-items: center;

font-size: 2rem;
}

#navbar * {
display: inline;
}

#navbar li {
margin: 20px;

}

#navbar li a {
text-decoration: none;
color: #dad7cd;
}

.resume-image {
border-radius: 50%;
border: solid white 3px;
}

main {
  margin: 3rem;
}

section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

footer {
  margin: 1rem;
}

.text-box {
font-size: 1rem;
}

.submit {
  font-size: 1rem;
}

